body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#stopBtn {
  display: none;
}

#startBtn {
  display: none;
}

.video-frame {
  height:90vh; 
  height:75vh; 
}